.conqurw-tittle {
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: left;
}

.conqure-info {
    color: #6b5a78;
    font-size: 22px;
    line-height: 40px;
    font-weight: 400;
}