.title {
    line-height: 68px;
}

.first-info {
    color: #6b5a78;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
}

.first-img {
    width: 80%;
    height: 96%;

}

@media only screen and (max-width:576px) {
    .first-img {}
}