.anything {
    font-size: 58px;
    line-height: 68px;
    font-weight: 600;
}

.anything-info {
    color: #6b5a78;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 35px;
}